body {
    display: flex;
    flex-direction: column;
    background-color: #344baf;
    max-height: max-content;
}

@font-face {
	font-family: Renogare;
	src: url('Renogare-Regular.otf') format("opentype");
}

@font-face {
	font-family: Days;
	src: url('Days.ttf') format("truetype");
}

.title {
    display: flex;
    justify-content: center;
}

h1, h2 {
    font-family: Days;
    color: white;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

a {
    color: rgb(8, 213, 213);
    text-decoration: none;
}

main {
    position: relative;
    min-height: 92vh;
}

.home {
    min-height: auto;
}

footer {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
}

section {
    min-height: 80vh;
}

.back {
    font-family: Days;
    display: block;
    text-align: center;
}

.stuff {
    display: flex;
    justify-content: center;
    font-family: Renogare;
}

li, .parts {
    font-size: 1.25em;
}

form {
    display: grid;
    place-items: center;
}

.moneyout {
    margin-left:auto;
    margin-right: auto;
    margin-top: 2em;
}

#error {
    font-family: Renogare;
    color: rgb(238, 125, 125);
}